@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
html {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  height: 100%;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-roboto), sans-serif !important;
  min-height: 100%;
  position: relative;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-love-ya-like-a-sister), cursive;
}

.card-animation {
  transition: transform 0.3s ease, background-color 0.3s linear,
    box-shadow 0.3s ease;
}

.card-animation:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(1, 195, 142, 0.2);
}

/* Personnalisation de la barre de défilement */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e; /* Couleur de fond sombre */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #ffa41b; /* Couleur primary (orange) */
  border-radius: 5px;
  border: 2px solid #1a1a2e;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff8c00; /* Version plus foncée au survol */
}

/* Pour Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffa41b #1a1a2e;
}
